.item{
    border-radius: 12px ;
    position: relative;
    margin-bottom: 45px;
    transition: all 0.4s ;
    background-color: #dedede;
    cursor: pointer;
    &:hover{
        box-shadow: -6px -6px 12px hsla(0, 1%, 15%, 0.651), 6px 6px 15px rgba(230, 236, 240, 0.72);
        .img{
            transform: scale(.9);
        }
        .title{
          opacity: 1;
          transform: translateY(-1%);
        }
    }
    .img{
        width: 100%;
        height: 100%;
        border-radius: 12px;
        transition: all 0.3s;
    }
    .title{
        bottom: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.26);
        color: rgb(58, 56, 56);
        font-weight: bold;
        width: 100%;
        padding: 50px 0;
        overflow: hidden;
        transform: translateY(100%);
        opacity: 0;
        transition: 0.5s all;
        border-radius: 12px;
    }
    .price{
       
        border-radius: 5px;
        padding: 10px ;
        box-shadow: -6px -6px 12px rgba(124, 167, 167, 0.26), 6px 6px 15px rgba(147, 148, 148, 0.5);
        
        font-weight: 500;
    }
}
